<div>
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span></span>
        <button mat-icon-button aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav fixedTopGap="56" mode="side">
            <a routerLink="/login">Login</a>
            <a routerLink="/profile">Profile</a>
        </mat-sidenav>
        <mat-sidenav-content>
            <p>Test</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<router-outlet></router-outlet>