<button matSuffix mat-icon-button aria-label="Add" (click)="addNS()">
  <mat-icon>add</mat-icon>
</button>
<div class="ns" *ngFor="let ns of nsList">
  <ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Ursprungssystem</mat-label>
      <mat-select [(value)]="ns.numberSystemSource" (valueChange)="ns.recalculate(true)">
        <mat-option *ngFor="let number of numberSystems" [value]="number">{{number}}er System</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Zahl im {{ns.numberSystemSource}}er System</mat-label>
      <input matInput type="text" [(ngModel)]="ns.source" (ngModelChange)="ns.recalculate(false)">
      <button *ngIf="ns.source" matSuffix mat-icon-button aria-label="Clear" (click)="ns.source=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Zielsystem</mat-label>
      <mat-select [(value)]="ns.numberSystemTarget" (valueChange)="ns.recalculate(false)">
        <mat-option *ngFor="let number of numberSystems" [value]="number">{{number}}er System</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>Zahl im {{ns.numberSystemTarget}}er System</mat-label>
      <input matInput type="text" [(ngModel)]="ns.target" (ngModelChange)="ns.recalculate(true)">
      <button *ngIf="ns.target" matSuffix mat-icon-button aria-label="Clear" (click)="ns.target=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-container>
  <button *ngIf="nsList.length > 1" matSuffix mat-icon-button aria-label="Delete" (click)="removeNS(ns)">
    <mat-icon>deleteforever</mat-icon>
  </button>
</div>