<ng-container>
  <mat-form-field appearance="fill">
    <mat-label>Ursprungssystem</mat-label>
    <mat-select [(value)]="numberSystemSource" (valueChange)="recalculate(true)">
      <mat-option *ngFor="let number of numberSystems" [value]="number">{{number}}er System</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="primary">
    <mat-label>Zahl im {{numberSystemSource}}er System</mat-label>
    <input matInput type="text" [(ngModel)]="source" (ngModelChange)="recalculate(false)">
    <button *ngIf="source" matSuffix mat-icon-button aria-label="Clear" (click)="source=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-container>
<ng-container>
  <mat-form-field appearance="fill">
    <mat-label>Zielsystem</mat-label>
    <mat-select [(value)]="numberSystemTarget" (valueChange)="recalculate(false)">
      <mat-option *ngFor="let number of numberSystems" [value]="number">{{number}}er System</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" color="primary">
    <mat-label>Zahl im {{numberSystemTarget}}er System</mat-label>
    <input matInput type="text" [(ngModel)]="target" (ngModelChange)="recalculate(true)">
    <button *ngIf="target" matSuffix mat-icon-button aria-label="Clear" (click)="target=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-container>
